body, p {margin: 0; padding: 0;}
#background {display: none;}
hr{width: 100%;}


.site{
    display: grid;

    grid-template-columns: 0 1fr 0;
    grid-template-rows: 0 repeat(3, auto);
    grid-gap: 1em;

    grid-template-areas: 
        ". .        ."
        ". title    ."
        ". info     ."
        ". ctable   ."
        ". steps    .";
}



#title{
    text-align: center;
    grid-area: title;
}



#table-of-content{
    display: flex;
    flex-flow: column;
    border-radius: 1em;
    align-items: left;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0 2em;
    
    grid-area: ctable;
}
#table-of-content li{
    margin: 0;
    padding: 0;
}


#introduction{
    display: flex;
    grid-area: info;

    flex-direction: column;
}
#introduction>p{
    text-align: center;
    font-size: larger;
}
#introduction>span{
    text-align: center;
    margin: 1em;
}
#specs{
    font-size: small;
    border-spacing: 0;
    padding: .5em .8em;
    border-radius: 1.4em;
}

#steps{
    grid-area: steps;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#steps>div{
    --rad: .3em;
    --col: #b2b2b2;
    width: 100%;
    border: 1px solid var(--col);
    border-radius: var(--rad);
    margin: var(--rad);
    box-shadow: var(--rad) var(--rad) var(--col);
}

@media screen and (min-width: 760px){
    #steps>div{
        width: 45%;
    }
}