:root{
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", sans-serif;
}

body{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

body, h1, h2, h3, p{
    margin: 0;
}

h1, h2, h3{
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}

h2, h3, p{
    margin-bottom: 1em;
}

img{
    display: block;
    max-width: 100%;
}

.text-center{text-align: center;}
header, section{padding: 3rem 0;}

.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.container--narrow{
    max-width: 34rem;
}

.bg-dark, .bg-primary{color: var(--clr-neutral-100);}
.bg-light {background-color: var(--clr-primary-200);}
.bg-primary {background-color: var(--clr-primary-400);}
.bg-dark {background-color: var(--clr-neutral-900);}

.bg-primary h2, .bg-dark h2{color: var(--clr-primary-200);}

