tr{ height: 100px; cursor: pointer;}
th { width: 100px; }
tr:first-of-type{ height: 75px; cursor: default;}
#product-info{width: fit-content;}

img{height: 100px; width: 140px; object-fit: cover;}

th{
    color: white;
    background-color: #6ba894;
}

th, td{
    text-align: left;
    padding: 5px;
}

td{
    border-bottom: 3px solid #DDD;
    border-collapse: collapse;
}

table{
    border-left: solid #DDD;
    border-collapse: collapse;
}

div, #product-info span{margin: 0px 100px 0px 100px; text-transform: capitalize;}
.info-subtext{text-transform: none;}


.info-subtext{
    color: gray;
}

.selection:hover{
    border-left: 3px solid rgb(29, 31, 29);
}