.container{
    display: flex;
}

.navbar-items{
    color: var(--clr-neutral-900);
    font-size: 2em;

    height: 100%;

    justify-content: left;
    align-items: center;
    text-align: center;
}

.navbar-items span{
    margin: 0 .1em;
}

.navbar-items span:hover{
    background: var(--clr-primary-400);
}