body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.site{
    display: grid;
    height: 100vh;
    grid-template-rows: min-content 22em auto 2px;
    grid-template-areas: 
        "navbar"
        "sidebar"
        "main"
        "footer";

    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.site-sidebar-close{
    grid-template-rows: min-content 0px 1fr 2px;
}

/*#region Main Content*/
#content{
    grid-area: main;
}
#content iframe{
    width: 100%;
    height: 100%;
}
/*#endregion*/
/*#region Navigation bar*/
#navbar {
    grid-area: navbar;
    background-color: var(--clr-primary);
}
/*#endregion*/
/*#region Sidebar*/
#sidebar{
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    background-color: var(--clr-primary);
    color: var(--clr-contrast);
}
#sidebar>div{
    margin: 2em 0;
    overflow: auto;
    background-color: var(--clr-primary);
    border-radius: 20px;
}

.sidebar-toggle{
    width: fit-content;
    height: fit-content;
    background-color: var(--clr-primary);
    grid-column: 1;
    grid-row: 3;
    border-end-end-radius: 10px;
}
/*#endregion*/

@media screen and (min-width: 760px){
    .site{
        grid-template-columns: 30% auto;
        grid-template-rows: min-content 80% 2px;
        grid-template-areas: 
        "navbar navbar"
        "sidebar main"
        "footer footer";
    }
    
    .site-sidebar-close{
        grid-template-columns: 0px auto;
    }

    .sidebar-toggle{
        grid-column: 2;
        grid-row: 2;
    }
    
    #sidebar{
        grid-column: 1;
        grid-row: 2 / -2;
        height: 100%;
        border-end-end-radius: 25px;
    }
    #sidebar>div{
        overflow: auto;
    }


    #content{
        grid-column: 1 / -1;
        grid-row: 2 / -2;
    }
}