body{
    margin: 0;
}

.site{
    display: grid;
    min-height: 100vh;
    background: var(--clr-dark);
    grid-template-rows: min-content auto auto min-content;
    grid-template-areas: 
        "navbar"
        "sidebar"
        "main"
        "footer";
}

#content{
    grid-area: main;
    background-color: var(--clr-light-100);
}
#navbar{
    grid-area: navbar;
}

#sidebar{
    grid-area: sidebar;
    background-color: var(--clr-light-200);
}

#footer{
    grid-area: footer;
    background: var(--clr-neutral-900);
}

@media screen and (min-width: 760px){
    .site{
        grid-template-columns: 6em 4fr;
        grid-template-rows: min-content auto;
        grid-template-areas: 
            "navbar navbar"
            "sidebar main";
    }
    .navbar{
        display: flex;
        justify-content: left;
    }
}