body{
    margin: 0;
    padding: 0;
    background: var(--clr-dark);
}

.container{
    display: flex;
}

.site{
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 35em auto 2px;
    grid-template-areas: 
        "navbar"
        "sidebar"
        "main"
        "footer";

        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
}
.site-sidebar-close{
    grid-template-rows: min-content 0px 1fr 2px;
}

#content{
    grid-area: main;
    background-color: var(--clr-light-100);
}
#navbar {grid-area: navbar;}
#footer {
    grid-area: footer;
    background-color: var(--clr-dark);
}

#content iframe{
    width: 100%;
    height: 100%;
}

#sidebar{
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    background-color: var(--clr-dark);
    color: var(--clr-light-100);
}
#sidebar>div{
    margin: 2em;
    overflow: auto;
    background-color: rgb(26, 23, 41);
    border-radius: 20px;
}

.sidebar-toggle{
    width: fit-content;
    height: fit-content;
    background-color: var(--clr-dark);
    grid-column: 1;
    grid-row: 3;
    border-end-end-radius: 10px;
}

@media screen and (min-width: 760px){
    .site{
        grid-template-columns: 30% auto;
        grid-template-rows: min-content auto 2px;
        grid-template-areas: 
        "navbar navbar"
        "sidebar main"
        "footer footer";
    }
    
    .site-sidebar-close{
        grid-template-columns: 0px auto;
    }

    .sidebar-toggle{
        grid-column: 2;
        grid-row: 2;
    }
    
    #sidebar{
        padding: 0;
        grid-column: 1;
        grid-row: 2 / -2;
        
    }
    #sidebar>div{
        margin: 2em;
    }


    #content{
        grid-column: 1 / -1;
        grid-row: 2 / -2;
    }
}