#s1{ color: salmon; }
#s2{ text-decoration: underline; }
#s3{ text-transform: uppercase; }
#s4{ text-align: center; }
#s5{ letter-spacing: 8px;}
#s6{ direction: rtl;}
#s7{ word-spacing: 20px;}
#s8{ text-shadow: 1px 2px sandybrown;}