head, body{margin: 0;}
p{margin: 0;}
.container{display: flex;}
.header{flex-direction: column;}

.grid{
    visibility: visible;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -2;
}

.grid div:nth-of-type(2n){
    background: rgba(0, 0, 0, 0.03);
    flex-grow: 1;
}

.grid div{
    background: rgba(66, 66, 66, 0);
    min-width: var(--grid-spacing);
    flex-grow: 0;
}

body{
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.6;
}

#top-img{
    height: var(--top-height);
    width: 100%;
    background: var(--clr-primary-200);
    position: absolute;
    z-index: -1;

    background: var(--clr-primary-200);
    border-bottom: 0.5em solid var(--clr-primary-400);
}

#top-img p{
    float:right;
    margin-right: var(--grid-spacing);
}

a{
    color: var(--clr-primary-200);
    text-decoration: none;
}

.active{
    text-decoration: underline;
}

.navbar-top{
    height: 0px;
}
.navbar, .navbar-top{
    width: var(--grid-column-span-6);
    margin-left: var(--grid-spacing);
    background:var(--clr-neutral-900);
    color: var(--clr-primary-200);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 0.2em 0;
    position: sticky;
    top:0px;
    user-select: none;

    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.header-spacer{
    margin-top: var(--top-height);
}

section{border: 3px dotted black; box-sizing: border-box;}
.section-1, .section-2{float:left;}
.section-1{
    margin-left: var(--grid-spacing);
    width: var(--grid-column-span-5);
    height: 400px;
}
.section-2{
    margin-left: var(--grid-spacing);
    width: var(--grid-column-span-3);
    height: 400px;
}

.section-3{
    margin-top: var(--grid-spacing);
    margin-left: var(--grid-spacing);
    width: var(--grid-column-span-6);
    height: 300px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}