tr{ height: 50px; }
td{ width: 200px; }

td{
    border-bottom: 1px solid #DDD;
    border-collapse: collapse;
}

th{
    color: white;
    background-color: teal;
}

tr:nth-child(odd){
    background-color: #EEE;
    color: teal;
}

tr:nth-child(even) {
    background-color: #FFF;
}

th, td{
    text-align: left;
    padding: 10px;
}

table{
    border: 1px solid #DDD;
    border-bottom: 2px solid teal;
    border-collapse: collapse;
}