h1, h2, h3, p{margin: 0; padding: 0;}
h1{text-align: center; margin-bottom: 2em;}

.cv-block{clear: left;}

h2{margin-left: calc(var(--grid-spacing) + var(--grid-margin-span-1)); text-align: right; width: var(--grid-column-span-1);}
span{margin-left: var(--grid-spacing);}

.underline{height: 1px; background: black; margin-left: var(--grid-margin-span-1);}

.time, .description{float:left; margin-top: 1em;}

.time{
    width: var(--grid-column-span-2);
    margin-right: var(--grid-margin-span-1);
    height: 2em;
    text-align: end;
    clear: left;
}
.description{
    margin-left: var(--grid-spacing);
    width: var(--grid-column-span-4);
}

@media (min-width: 860px) {
    .description{width: var(--grid-column-span-2);}
}