:root{
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", sans-serif;

    --top-height: 6em;
    --grid-spacing: 0.6em;
    --grid-column: calc((100vw - var(--grid-spacing) * 9) / 8);
    --grid-spacing-column: calc(var(--grid-column) + var(--grid-spacing));
    --grid-column-span-1: calc(var(--grid-spacing-column) * 1 - var(--grid-spacing));
    --grid-column-span-2: calc(var(--grid-spacing-column) * 2 - var(--grid-spacing));
    --grid-column-span-3: calc(var(--grid-spacing-column) * 3 - var(--grid-spacing));
    --grid-column-span-4: calc(var(--grid-spacing-column) * 4 - var(--grid-spacing));
    --grid-column-span-5: calc(var(--grid-spacing-column) * 5 - var(--grid-spacing));
    --grid-column-span-6: calc(var(--grid-spacing-column) * 6 - var(--grid-spacing));
    --grid-column-span-7: calc(var(--grid-spacing-column) * 7 - var(--grid-spacing));
    --grid-column-span-8: calc(var(--grid-spacing-column) * 8 - var(--grid-spacing));
    --grid-column-span-9: calc(var(--grid-spacing-column) * 9 - var(--grid-spacing));

    --grid-margin-span-1: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 1);
    --grid-margin-span-2: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 2);
    --grid-margin-span-3: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 3);
    --grid-margin-span-4: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 4);
    --grid-margin-span-5: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 5);
    --grid-margin-span-6: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 6);
    --grid-margin-span-7: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 7);
    --grid-margin-span-8: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 8);
    --grid-margin-span-9: calc((var(--grid-column-span-1) + var(--grid-spacing)) * 9);

}

.grid-margin{margin: 0 var(--grid-spacing);}